{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'lab4_index_style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Note</title>
</head>




<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
        <li class="nav-item active">
        <a class="nav-link" href="/lab-4/">Notes List <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/lab-4/add">Add Note <span class="sr-only"></span></a>
        </li>
        <li class="nav-item active">
        <a class="nav-link" href="/lab-4/note-list">Note Cards <span class="sr-only"></span></a>
        </li>
        </ul>
        </div>
    </nav>
    <div class="penggabung">
        <div class="Header">
            <h1>List Of Notes</h1>
        </div>
        <div class="Tabel">
        <table>
            <div class="HeaderTabel">
                <tr>
                    <th>To</th>
                    <th>From</th>
                    <th>Title</th>
                    <th>Message</th>
                </tr>
            </div>
        </div>
                {% for i in note %}
                    </tr>
                        <td>{{ i.To }}</td>
                        <td>{{ i.From }} </td>
                        <td>{{ i.Title }} </td>
                        <td>{{ i.Message }} </td>
                    <tr>
                {% endfor %}
        </table>
    </div>
</body>

</html>