{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'lab4_form_style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300&display=swap" rel="stylesheet">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <title>Note Form</title>
</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="/lab-4/">Notes List <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/lab-4/add">Add Note <span class="sr-only"></span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/lab-4/note-list">Note Cards <span class="sr-only"></span></a>
        </li>
    </ul>
    </div>
</nav>

<body>
    <h1>Create Some Notes</h1>
    <form action="" method="POST">

        {% csrf_token %}
        
        <div class="container">
            <table>
                {{form}}
            </table>
        </div>

        <div class="container1">
            <input type="submit" value="Submit">
        </div>
    </form>
</body>

</html>