body {
    background-image: url("https://media.istockphoto.com/photos/wooden-podium-display-with-leaf-shadow-copy-space-beige-background-picture-id1285784033?b=1&k=20&m=1285784033&s=170667a&w=0&h=SGz8PDEJEUMoMZWsBTQOxsf9SoPQQKS6iS-mJJynik0=") ;
}

.container {
    color: black;
    margin: 30px;
    padding: 20px;
    background-color: wheat;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

form{
    background-color: white;  
    color: black;  
    font-size: 20px;  
    margin: auto;
    display: flex;
    justify-content: center;
}

h1 {
    font-family: 'Signika Negative', sans-serif;
    color: white;
    margin: auto;
    font-size: 40px;
    display: flex;
    justify-content: center;
}