body {
    margin: 0;
    font-size: 20px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTHYyP1OwhmDV1guIIatPTbO7rVrFXshwv24A&usqp=CAU");
    display: flex;
    flex-direction: column;
}

.Header {
    color: black;
    margin: 25px;
    /* opacity: 0.5; */
    padding: 20px;
    background-color: #FBE7C6;
    display: flex;
    justify-content: center;
}

.HeaderTabel {
    font-family: 'Scheherazade New', serif;
    font-size: 9px; 
}

.Tabel {
    display: flex;
    justify-content: center;
}

table, th, td {
    background-color: rgb(241, 241, 204);
    padding: 3px;
    font-size: 15px;
    margin: 30px;
    border: 1px solid black;
}