body {
    background-image: url(https://gadgetstouse.com/wp-content/uploads/2021/01/Notes-on-phone-wallpaper.jpg);
    background-size:cover;
    margin: 0;
}

h1 {
    font-family: 'Andada Pro', serif;
    font-size: 45px;
    display: flex;
    justify-content: center;
    background-color: rgb(172, 170, 170);
    margin: 10px;
}

.cards {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.0);
    background-color:beige;
    transition: 0.3s;
    padding: 16px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(19, 18, 18, 0.2);
}