<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Note</title>
  </head>
  <body>
    <table>
      <tr>
        <th>To</th>
        <th>From</th>
        <th>Tittle</th>
        <th>Message</th>
      </tr>
      <!-- TODO loop from Friend model -->
        {% if note %}
          {% for i in note %}
            </tr>
              <td>{{ i.To }}</td>
              <td>{{ i.From }} </td>
              <td>{{ i.Tittle }} </td>
              <td>{{ i.Message }} </td>
            <tr>
          {% endfor %}
        {% endif %}
      <!-- END SECTION -->
    </table>
  </body>
</html>
